html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
}
li {
  list-style: none;
  cursor: pointer;
}
a,
button,
button:focus,
button:hover,
button:active {
  text-decoration: none;
  color: inherit;
  border: none;
  border-radius: 5px;
}
button.submit {
  display: block;
  margin: 0 auto;
  padding: 0.875rem 7.0625rem;
  background-color: $brightBlue;
  color: $lightGrayishBlue;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
}
input[type="email"] {
  width: 18rem;
  padding: 0.75rem 1rem;
  margin-top: 2.5rem;
  margin-bottom: 1.0625rem;
}
