.hero-img,
.img-hero {
  max-height: 15.25rem;
  width: auto;
  object-fit: cover;
  padding: 0 auto;
  @include breakup(large) {
    height: 28.07rem;
    width: auto;
  }

  @include breakdown(medium) {
    .hero img.hero-img {
      display: block;
      margin: 0 auto;
    }
  }
}
