$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$fontColor: hsl(245, 95, 22%);
$sectionTwoColor: hsl(250, 2, 100%);
$getColor: hsl(238, 36, 54);
$footerColor: hsl(243, 93, 23);
//font-size
$fontSize-li: 12px;
